# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Visual Studio Code
.vscode/
.history/
*.code-workspace

# Mac OS
.DS_Store
.AppleDouble
.LSOverride